body {
  background-image: url(/BackgroundGrass.jpg);
}

#scoreNumber {
  font-size: 52px;
  font-family: cursive;
  position: relative;
  left: 56px;
  top: -104px;
  width: 60px;
  color: white;
  height: 60px;
}

#lost {
  display: inline-block;
}

#grid {
  display: grid;
  grid-template: repeat(19, 30px) / repeat(23, 30px);
  position: absolute;
  top: 150px;
  left: 617px;
  border: 13px solid rgba(87, 138, 52, 255);
}

#apple {
  width: 30px;
  height: 30px;
  grid-row-start: 5;
  grid-column-start: 18;
}
#head {
  grid-column-start: 7;
  grid-row-start: 5;
  border-radius: 50%;
  background-color: green;
}

#body {
  grid-column-start: 6;
  grid-row-start: 5;
}

.play {
  position: relative;
  left: 609px;
  background-color: green;
}

.plusSpeed {
  position: relative;
  left: 1081px;
  background-color: green;
}

.minusSpeed {
  background-color: green;
  position: relative;
  left: 1077px;
}

.score {
  height: 71px;
  width: 716px;
  background-color: rgba(74, 117, 44, 255);
  position: relative;
  left: 65vh;
}

.showApple {
  width: 50px;
  height: 50px;
  position: relative;
  top: 9px;
}

.box {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  top: var(--position-top);
  left: var(--position-left);
  background-color: blue;
  border-radius: 10px;
  z-index: 1;
  grid-column-start: 5;
  grid-row-start: 5;
}

.GameOver {
  display: inline-block;
  font-size: xxx-large;
  font-family: fantasy;
  color: #9f0a0a;
  position: relative;
  top: -55px;
  left: 820px;
  z-index: 4;
  opacity: 0.75;
}
.bang {
  top: 100px;
  left: 400px;
  position: relative;
  z-index: 3;
  height: 400px;
  opacity: 0.75;
}
